html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Noto Sans KR", "sans-serif", "Roboto", "Work+Sans";
  background-color: #5f6062;
}

ul,
li,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #1e1e2a;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 150px 0 95px;
  width: 100%;
  height: 45px;
  z-index: 10;
  background: #000;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .inner .logo {
  cursor: pointer;
}
header nav ul {
  display: flex;
  gap: 15px;
}
header nav ul li a {
  display: block;
  padding: 0 15px;
  letter-spacing: 0.5px;
  transform: scaleY(0.95);
  transform-origin: center;
  color: #fff;
  box-sizing: border-box;
}

.main .bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/image/main_bg.jpg");
  background-size: cover;
  background-position: center;
}
.main .bg::after {
  position: absolute;
  content: "";
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}
.main .content {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 85px;
  width: 100%;
  margin: 0 auto;
  width: 1300px;
}
.main .content .logo {
  margin: 0 auto;
  max-width: 383px;
  transition: all 0.5s ease-in-out;
}
.main .content .logo img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.main .content .txtBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  color: rgba(194, 194, 194, 0.8);
}
.main .content .txtBox span {
  display: block;
  font-size: clamp(16px, 1.5vw, 25px);
  font-style: italic;
  word-break: keep-all;
  white-space: nowrap;
}

section.section--01 {
  position: relative;
  width: 100%;
  height: 222px;
  background: #000;
  box-sizing: border-box;
}
section.section--01 .content {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
section.section--01 .content span.border {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background: #fff;
  box-sizing: border-box;
}
section.section--01 .content span.title {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%);
  padding: 0 0 0 12px;
  display: inline-block;
  width: 150px;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 12px;
  color: #fff;
  background: #000;
}
section.section--02 {
  position: relative;
  width: 100%;
}
section.section--02 .bg {
  height: 331px;
  background-image: url(/image/sectionBg_01.jpg);
  background-size: cover;
  background-position: top;
}
section.section--02 .content {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
}
section.section--02 .content .txtBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(194, 194, 194, 0.8);
}
section.section--02 .content .txtBox span {
  display: block;
  font-size: clamp(16px, 1.5vw, 25px);
  word-break: keep-all;
  white-space: nowrap;
}
section.section--02 .content .txtBox span.title.title--white {
  font-size: 21px;
  color: rgb(239, 239, 239);
  letter-spacing: 14.85px;
}
section.section--02 .content .txtBox span.title.title--red {
  font-size: 53px;
  font-weight: 600;
  color: rgb(184, 49, 47);
  letter-spacing: 0.85px;
  transform: scaleY(0.95);
}
section.section--02 .content .txtBox span.text.text--white {
  font-size: 17px;
  color: rgb(239, 239, 239);
  letter-spacing: 2.85px;
}
section.section--02 .content .txtBox span.text.text--yellow {
  font-size: 19px;
  font-weight: 500;
  color: rgb(250, 197, 28);
  letter-spacing: 4.85px;
  transform: scaleY(0.95);
}
section.section--02 .content .txtBox span.text + .text {
  margin-top: 5px;
}
section.section--02 .content .title + .text {
  margin-top: 55px;
}
section.section--03 {
  position: relative;
  width: 100%;
  background: #000;
  padding: 50px 60px;
  box-sizing: border-box;
}
section.section--03 .content .txtBox ul.txtBox--list {
  display: flex;
  justify-content: space-between;
}
section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item {
  width: calc(60% - 160px);
}
section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item span {
  word-break: keep-all;
}
section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item span.num, section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item span.title, section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item span.text.text--white {
  display: block;
  color: rgb(209, 213, 216);
}
section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item span.num {
  font-size: 38px;
}
section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item span.title {
  margin: 10px 0 0 0;
  font-size: 23px;
}
section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item span.text {
  margin: 15px 0 0 0;
  font-size: 17px;
}
section.section--03 .content .txtBox ul.txtBox--list li.txtBox--item span.text.text--yellow {
  color: rgb(250, 197, 28);
  font-weight: 700;
}
section.section--03 .content .txtBox ul.txtBox--list li + li {
  margin-left: 30px;
}
section.section--03 .content .txtBox ul + ul {
  margin-top: 55px;
}
section.section--04 {
  position: relative;
  width: 100%;
  height: 100vh;
}
section.section--04 .bg {
  height: 100%;
  background-image: url("/image/sectionBg_04.jpg");
  background-size: cover;
  background-position: top;
}
section.section--04 .content {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.swiper {
  width: 65%;
  height: 100%;
}
.swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}
.swiper .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.swiper .swiper-pagination {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  color: #fff;
}
.swiper .swiper-pagination span {
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  position: relative;
}
.swiper .swiper-pagination span:last-child {
  cursor: pointer;
  pointer-events: auto;
}
.swiper .swiper-pagination-bullet {
  background: 0;
}
.swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 13px);
}
.swiper .swiper-horizontal > .swiper-pagination-bullets {
  left: -40px;
  bottom: var(--swiper-pagination-bottom, 30px);
}

/*# sourceMappingURL=style.css.map */
