// element
@mixin align($display: flex, $align-items: center, $justify-content: center) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

// @include align(flex, center, space-between);
